.externalToolBuilders
/personspot-social/.settings/
/personspot-social/.classpath
/personspot-social/.project
/personspot-social/target/
/personspot-social/conf
/personspot-core/target/
/personspot-web/target/
vithesaurus/.classpath
vithesaurus/.project
.settings
.classpath
target
.buildpath
bin
*~
.dropbox
*.log
nbactions.xml
nb-configuration.xml
target-eclipse
